@charset "utf-8";

/*-------------------------------------------------------------------------------------------------------------------
COMMON
------------------------------------------------------------------------------------------------------------------- */
body {
	margin: 0;
}
ol,ul {
	list-style: none;
	padding-left: 0;
}
a {
	text-decoration: none;
	color: #0E6F9F;
}
img {
	width: 100%;
	height: auto;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
h2,h3,h4,h5 {
	margin-top: 0;
	margin-bottom: 0;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}
.centering-body {
	width: 1000px;
	margin: 0 auto;
}
.col-ab > .col-left {
	float: left;
}
.pc-dn {
	display: none;
}
.common-img {
	display: inline-block;
}
.common-img.change-img {
	display: block;
}

/*-------------------------------------------------------------------------------------------------------------------
 HEADER
------------------------------------------------------------------------------------------------------------------- */
/*comment
------------------------------------------------------------------------------------------------------------------- */

/*-------------------------------------------------------------------------------------------------------------------
BODY
------------------------------------------------------------------------------------------------------------------- */
/*comment
------------------------------------------------------------------------------------------------------------------- */

/*-------------------------------------------------------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------------------------------------------------- */
/*comment
------------------------------------------------------------------------------------------------------------------- */
